{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block content %}
<div>
    <img src="https://images.adsttc.com/media/images/5ffe/8b53/63c0/174c/f800/00f1/newsletter/paris_en_commun.jpg?1610517326" class="img-fluid">
</div>
<div class = "centered">
    <form action="{{ url_for('result') }}" method="post">
      <h2>Enter the gps coordinates of the location you would like to check:</h2>
      <input type="text" class="name-input name mb-3" id="coordinates", name = "coordinates">
      <input class="btn btn-outline-primary" type="submit" value="Submit">
    </form>
  </div>

{% endblock %}